
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("مدیریت مدرسین", "Index", "Teachers") |
        @Html.ActionLink("مدرس جدید", "Create", "Teachers")
    </div>
</body>
</html>
