
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActivateMessage</title>
</head>
<body>
    <div> 
        جهت فعالسازی حساب خود روی لینکی که به ایمیل شما ارسال شده است کلیک کنید.
    </div>
</body>
</html>
